{%extends 'all-jobs/base.html'%} 
{% block content %}
<div class="container-fluid">

        <div class="row">
          {% if applicant%}
            <h2>Found {{ applicant|length }} of searched term {{message}}</h2>
          {% else %}
            <h2> Found 0 jobs for the search term {{message}}</h2>
          {% endif %}
      
        </div>
      
        <div class="row">
      
        {% if applicant %}
          {% for applican in applicant %}
            
                    <div class="col-sm-6 col-md-3">
                            <div class="card">
                                    <div class="card-header">name:{{applican.first_name}}</div>
                                    <div class="card-header">job:{{applican.job}}</div>
                                    <div class="card-body">owner:{{applican.description}}</div>
                                    <div class="card-body">pay ksh:{{applican.pay}}</div>
                                    <div class="card-footer">contact:{{applican.contact}}</div>
                
                                  </div>
                          
                           
                      </div>
            
          {% endfor %}
        {% endif %}
        </div>
      </div>
{% endblock %}